<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{product.name}}</title>
</head>
<body>
<h1>Информация по товару "{{product.name}}":</h1>
<h3>
    <ul>
        <li>ID товара: {{product.id}}</li>
        <li>Название товара: {{product.name}}</li>
        <li><a href="/category/{{product.category_id}}">Категория товара: {{product.category_name}}</a></li>
        {% if product.shop %}
        <li>Есть в магазине</li>
        {% else %}
        <li>Товара нет в магазине</li>
        {% endif %}
        {% if product.stock %}
        <li>Есть на складе</li>
        {% else %}
        <li>Товара нет на складе</li>
        {% endif %}
        <li>Единиц осталось: {{product.number}}</li>
        <li>Стоимость: {{product.price}}</li>
    </ul>
</h3>
</body>
</html>